{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-transform-object-rest-spread",
    "@babel/plugin-transform-class-properties"
  ],
  "env": {
    "default": {
      "plugins": ["transform-runtime"]
    }
  }
}
