# git + dev
.gitignore export-ignore
.gitattributes export-ignore
.babelrc export-ignore
.editorconfig export-ignore
.eslintignore export-ignore
.eslintrc export-ignore
.sassrc export-ignore
# gulp
gulpfile.js export-ignore
composer.* export-ignore
package*.json export-ignore
/src export-ignore
/tests export-ignore
wp-plugin-boilerplate.json export-ignore
.wporg export-ignore
*.md export-ignore
test export-ignore
phpcs*.xml export-ignore
phpunit.* export-ignore
webpack.config.js export-ignore
.wp-*.json export-ignore
