[submodule "src/vendor/leaflet-providers"]
	path = src/vendor/leaflet-providers
	url = git@github.com:leaflet-extras/leaflet-providers.git
[submodule "src/vendor/Leaflet"]
	path = src/vendor/Leaflet
	url = git@github.com:Leaflet/Leaflet.git
[submodule "src/vendor/leaflet-control-geocoder"]
	path = src/vendor/leaflet-control-geocoder
	url = git@github.com:perliedman/leaflet-control-geocoder.git
