/* Both Admin Menu and Post Formats */
/* Post Format Icons */
/* Welcome Screen Icons */
/* Image Editing Icons */
/* Both Image Editing and TinyMCE */
/* TinyMCE Icons */
/* Post Icons */
/* Sorting */
/* WPorg specific icons: Jobs, Profiles, WordCamps */
/* Internal/Products */
/* Taxonomies */
/* Widget icons */
/* Media icons */
/* Alerts/Notifications/Flags */
/* Social Icons */
/* Misc/CPT */
.acf-field-open-street-map .acf-osm-map {
  height: 400px; }
