/* Both Admin Menu and Post Formats */
/* Post Format Icons */
/* Welcome Screen Icons */
/* Image Editing Icons */
/* Both Image Editing and TinyMCE */
/* TinyMCE Icons */
/* Post Icons */
/* Sorting */
/* WPorg specific icons: Jobs, Profiles, WordCamps */
/* Internal/Products */
/* Taxonomies */
/* Widget icons */
/* Media icons */
/* Alerts/Notifications/Flags */
/* Social Icons */
/* Misc/CPT */
/* Compatible with Leaflet 0.7 */
.leaflet-control-locate a {
  cursor: pointer;
}
.leaflet-control-locate a .leaflet-control-locate-location-arrow {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 7px;
  background-color: black;
  -webkit-mask-image: url("../location-arrow-solid.svg");
  mask-image: url("../location-arrow-solid.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
.leaflet-control-locate a .leaflet-control-locate-spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 7px;
  background-color: black;
  -webkit-mask-image: url("../spinner-solid.svg");
  mask-image: url("../spinner-solid.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-animation: leaflet-control-locate-spin 2s linear infinite;
          animation: leaflet-control-locate-spin 2s linear infinite;
}
.leaflet-control-locate.active a .leaflet-control-locate-location-arrow {
  background-color: #2074b6;
}
.leaflet-control-locate.following a .leaflet-control-locate-location-arrow {
  background-color: #fc8428;
}

.leaflet-touch .leaflet-bar .leaflet-locate-text-active {
  width: 100%;
  max-width: 200px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 10px;
}
.leaflet-touch .leaflet-bar .leaflet-locate-text-active .leaflet-locate-icon {
  padding: 0 5px 0 0;
}

.leaflet-control-locate-location circle {
  -webkit-animation: leaflet-control-locate-throb 4s ease infinite;
          animation: leaflet-control-locate-throb 4s ease infinite;
}

@-webkit-keyframes leaflet-control-locate-throb {
  0% {
    stroke-width: 1;
  }
  50% {
    stroke-width: 3;
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  100% {
    stroke-width: 1;
  }
}

@keyframes leaflet-control-locate-throb {
  0% {
    stroke-width: 1;
  }
  50% {
    stroke-width: 3;
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  100% {
    stroke-width: 1;
  }
}
@-webkit-keyframes leaflet-control-locate-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes leaflet-control-locate-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
[data-map=leaflet] {
  width: 100%;
}

.block-editor__container .leaflet-map {
  width: 100%;
}
.block-editor__container .leaflet-map .leaflet-top,
.block-editor__container .leaflet-map .leaflet-bottom {
  /* .editor-block-toolbar: 101 */
  z-index: 80;
}
.leaflet-map[data-can-add-marker=false] ~ .markers-instruction .can-add-marker {
  display: none;
}
.leaflet-map[data-has-markers=false] ~ .markers-instruction .has-markers {
  display: none;
}
.leaflet-map ~ .markers-instruction .add-marker-instructions {
  display: none;
}
.leaflet-map.add-marker-on-dblclick ~ .markers-instruction .marker-on-dblclick {
  display: inline;
}
.leaflet-map.add-marker-on-taphold ~ .markers-instruction .marker-on-taphold {
  display: inline;
}

.acf-block-preview iframe[src*="openstreetmap.org"] {
  pointer-events: none;
}

.acf-field-open-street-map .acf-osm-map {
  width: 100%;
  height: 400px;
}
.acf-field-open-street-map input[type=search][data-prop=address] {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: #32373c;
}

.osm-markers .osm-marker {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25em 0;
  border-bottom: 1px solid #f1f1f1;
}
.osm-markers .osm-marker:nth-of-type(2n) {
  background-color: #fafafa;
}
.osm-markers .osm-marker.focus {
  background-color: rgba(255, 185, 0, 0.5);
}
.osm-markers .osm-marker > .locate.dashicons, .osm-markers .osm-marker > .locate.dashicons::before {
  font-size: 32px;
  cursor: pointer;
}
.osm-markers .osm-marker > .tools, .osm-markers .osm-marker > .locate {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  min-width: 32px;
  text-align: center;
}
.osm-markers .osm-marker > .input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.osm-markers .osm-marker input[type=text] {
  width: 100%;
  font-size: 20px;
  font-weight: 300;
}
.osm-markers .osm-marker a.acf-icon.light {
  border: 1px solid #cccccc;
}
.osm-markers [data-id=__osm_marker_template__] {
  display: none;
}

@-webkit-keyframes pling {
  0% {
    left: 0;
    top: 0;
    width: 12px;
    height: 12px;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    left: -25px;
    top: -25px;
    width: 62px;
    height: 62px;
    opacity: 0;
  }
}

@keyframes pling {
  0% {
    left: 0;
    top: 0;
    width: 12px;
    height: 12px;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    left: -25px;
    top: -25px;
    width: 62px;
    height: 62px;
    opacity: 0;
  }
}
.osm-marker-icon {
  border-radius: 50%;
  position: relative;
}
.osm-marker-icon:before {
  content: "";
  border-style: solid;
  border-color: #0085ba transparent transparent transparent;
  border-width: 20px 12px 0 12px;
  position: absolute;
  left: -6px;
  top: -14px;
  z-index: 1;
}
.osm-marker-icon:after {
  content: "";
  clip: rect(0, 0, 100%, 100%);
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-color: #fff;
  border: 8px solid #0085ba;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 18px;
  left: -7px;
}
.osm-marker-icon.focus:after, .osm-marker-icon:focus:after {
  -webkit-box-shadow: 0 0 6px 12px rgba(255, 185, 0, 0.75);
          box-shadow: 0 0 6px 12px rgba(255, 185, 0, 0.75);
}
.osm-marker-icon:hover:before {
  border-top-color: #dc3232;
}
.osm-marker-icon:hover:after {
  content: "\f158";
  font-family: "dashicons";
  color: #fff;
  font-size: 26px;
  line-height: 27px;
  border-color: #dc3232;
  background-color: #dc3232;
  border-width: 0;
  z-index: 2;
}
.osm-marker-icon .pling {
  position: absolute;
  opacity: 0;
  border: 4px solid #0085ba;
  border-radius: 50%;
  -webkit-animation-name: pling;
          animation-name: pling;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
@media screen and (min-width: 768px) {
  .osm-marker-icon .pling {
    border-width: 2px;
  }
}

.acf-osm-above {
  position: relative;
  z-index: 2;
}
.acf-osm-above + .leaflet-map {
  z-index: 1;
}
.acf-osm-above .leaflet-control-geocoder {
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-icon, .acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-form {
  border-radius: none;
}
.acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  min-width: 42px;
  height: 38px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-color: #0085ba;
  background-image: none;
  border-radius: 0 4px 4px 0;
}
.acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-icon:before {
  content: "\f179";
  font-family: "dashicons";
  color: #fff;
  font-size: 20px;
}
.acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-form input {
  padding: 0.25em 1em;
  font-size: 20px;
  font-weight: 300;
}
.acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-error, .acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-alternatives {
  margin: 0;
  position: absolute;
  left: 1em;
  top: 100%;
  background: #fff;
}
.acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-error {
  padding: 0.5em 1em;
}
.acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-alternatives {
  margin-top: 1em;
}

.wp-block .leaflet-pane {
  z-index: 40;
}
.wp-block .leaflet-tile-pane {
  z-index: 20;
}
.wp-block .leaflet-shadow-pane {
  z-index: 50;
}
.wp-block .leaflet-overlay-pane {
  z-index: 40;
}
.wp-block .leaflet-marker-pane {
  z-index: 60;
}
.wp-block .leaflet-tooltip-pane {
  z-index: 65;
}
.wp-block .leaflet-popup-pane {
  z-index: 70;
}

.postbox .leaflet-pane, .wp-block .leaflet-pane {
  z-index: 30;
}

.leaflet-control-container a {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome, Opera and Firefox */
}

.wp-block .leaflet-control-layers {
  text-align: left;
}

.leaflet-control-layers-scrollbar {
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
}

@-webkit-keyframes following {
  from {
    color: #0085ba;
  }
  to {
    color: #73cbe6;
  }
}

@keyframes following {
  from {
    color: #0085ba;
  }
  to {
    color: #73cbe6;
  }
}
.leaflet-control a .dashicons {
  line-height: 30px;
}

.leaflet-control-locate + .leaflet-control-add-location-marker {
  display: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0 !important;
  margin-top: -10px !important;
}
[data-can-add-marker=true] .leaflet-control-locate.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
[data-can-add-marker=true] .leaflet-control-locate.active .dashicons-location-alt {
  position: relative;
}
[data-can-add-marker=true] .leaflet-control-locate.active .dashicons-location-alt::before {
  content: "\f230";
}
[data-can-add-marker=true] .leaflet-control-locate.active + .leaflet-control-add-location-marker {
  display: block;
}
.leaflet-control-locate.following .dashicons {
  color: #e5f5fa;
  -webkit-animation-name: following;
          animation-name: following;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.leaflet-control-locate a .dashicons-warning {
  color: #dc3232;
}
.leaflet-control-locate a .spinner {
  float: none;
  margin: -3px 0 0 0;
}

.leaflet-control-add-location-marker .dashicons::before {
  line-height: 30px;
  font-size: 18px;
}
.leaflet-control-add-location-marker .dashicons::after {
  content: "\f132";
  font-size: 13px;
  position: absolute;
  top: -6px;
  right: 0;
}