@charset "UTF-8";
/* Both Admin Menu and Post Formats */
/* Post Format Icons */
/* Welcome Screen Icons */
/* Image Editing Icons */
/* Both Image Editing and TinyMCE */
/* TinyMCE Icons */
/* Post Icons */
/* Sorting */
/* WPorg specific icons: Jobs, Profiles, WordCamps */
/* Internal/Products */
/* Taxonomies */
/* Widget icons */
/* Media icons */
/* Alerts/Notifications/Flags */
/* Social Icons */
/* Misc/CPT */
[data-map="leaflet"] {
  width: 100%; }

.block-editor__container .leaflet-map {
  width: 100%; }
  .block-editor__container .leaflet-map .leaflet-top,
  .block-editor__container .leaflet-map .leaflet-bottom {
    /* .editor-block-toolbar: 101 */
    z-index: 80; }

.acf-block-preview iframe {
  pointer-events: none; }

.acf-field-open-street-map .acf-osm-map {
  width: 100%;
  height: 400px; }

.acf-field-open-street-map input[type="search"][data-prop="address"] {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: #32373c; }

.osm-markers .osm-marker {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25em 0;
  border-bottom: 1px solid #f1f1f1; }
  .osm-markers .osm-marker:nth-of-type(2n) {
    background-color: #fafafa; }
  .osm-markers .osm-marker.focus {
    background-color: rgba(255, 185, 0, 0.5); }
  .osm-markers .osm-marker > .locate.dashicons, .osm-markers .osm-marker > .locate.dashicons::before {
    font-size: 32px;
    cursor: pointer; }
  .osm-markers .osm-marker > .tools,
  .osm-markers .osm-marker > .locate {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    min-width: 32px;
    text-align: center; }
  .osm-markers .osm-marker > .input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .osm-markers .osm-marker input[type="text"] {
    width: 100%;
    font-size: 20px;
    font-weight: 300; }
  .osm-markers .osm-marker a.acf-icon.light {
    border: 1px solid #cccccc; }

.osm-markers [data-id="__osm_marker_template__"] {
  display: none; }

.osm-marker-icon {
  border-radius: 50%;
  position: relative; }
  .osm-marker-icon:before {
    content: '';
    border-style: solid;
    border-color: #0085ba transparent transparent transparent;
    border-width: 20px 12px 0 12px;
    position: absolute;
    left: -6px;
    top: -14px;
    z-index: 1; }
  .osm-marker-icon:after {
    content: '';
    clip: rect(0, 0, 100%, 100%);
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #fff;
    border: 8px solid #0085ba;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    bottom: 18px;
    left: -7px; }
  .osm-marker-icon.focus:after, .osm-marker-icon:focus:after {
    -webkit-box-shadow: 0 0 6px 12px rgba(255, 185, 0, 0.75);
            box-shadow: 0 0 6px 12px rgba(255, 185, 0, 0.75); }
  .osm-marker-icon:hover:before {
    border-top-color: #dc3232; }
  .osm-marker-icon:hover:after {
    content: "";
    font-family: 'dashicons';
    color: #fff;
    font-size: 26px;
    line-height: 27px;
    border-color: #dc3232;
    background-color: #dc3232;
    border-width: 0;
    z-index: 2; }

.acf-osm-above {
  position: relative;
  z-index: 2; }
  .acf-osm-above + .leaflet-map {
    z-index: 1; }
  .acf-osm-above .leaflet-control-geocoder {
    height: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none; }
    .acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-icon,
    .acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-form {
      border-radius: none; }
    .acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-icon {
      -webkit-box-flex: 0;
          -ms-flex: 0;
              flex: 0;
      min-width: 42px;
      height: 38px;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      background-color: #0085ba;
      background-image: none;
      border-radius: 0 4px 4px 0; }
      .acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-icon:before {
        content: "";
        font-family: 'dashicons';
        color: #fff;
        font-size: 20px; }
    .acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-form {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
      .acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-form input {
        padding: 0.25em 1em;
        font-size: 20px;
        font-weight: 300; }
    .acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-error,
    .acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-alternatives {
      margin: 0;
      position: absolute;
      left: 1em;
      top: 100%;
      background: #fff; }
    .acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-error {
      padding: 0.5em 1em; }
    .acf-osm-above .leaflet-control-geocoder > .leaflet-control-geocoder-alternatives {
      margin-top: 1em; }

.wp-block .leaflet-pane {
  z-index: 40; }

.wp-block .leaflet-tile-pane {
  z-index: 20; }

.wp-block .leaflet-shadow-pane {
  z-index: 50; }

.wp-block .leaflet-overlay-pane {
  z-index: 40; }

.wp-block .leaflet-marker-pane {
  z-index: 60; }

.wp-block .leaflet-tooltip-pane {
  z-index: 65; }

.wp-block .leaflet-popup-pane {
  z-index: 70; }

.wp-block .leaflet-control-layers {
  text-align: left; }
