/* Both Admin Menu and Post Formats */
/* Post Format Icons */
/* Welcome Screen Icons */
/* Image Editing Icons */
/* Both Image Editing and TinyMCE */
/* TinyMCE Icons */
/* Post Icons */
/* Sorting */
/* WPorg specific icons: Jobs, Profiles, WordCamps */
/* Internal/Products */
/* Taxonomies */
/* Widget icons */
/* Media icons */
/* Alerts/Notifications/Flags */
/* Social Icons */
/* Misc/CPT */
[data-map="leaflet"] {
  width: 100%; }

.acf-field-open-street-map .acf-osm-map {
  width: 100%;
  height: 400px; }

.acf-field-open-street-map input[type="search"][data-prop="address"] {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: #32373c; }

.osm-results {
  height: 0;
  border-top: 1px solid #f1f1f1;
  position: relative;
  z-index: 1001;
  width: 33%;
  float: right; }

.osm-result {
  background: rgba(255, 255, 255, 0.95);
  padding: 0.5em;
  border: 1px solid #f1f1f1;
  border-top-width: 0;
  cursor: pointer;
  font-weight: 300; }
  .osm-result:hover, .osm-result:focus {
    background: rgba(241, 241, 241, 0.8);
    color: #0085ba; }

.acf-field .acf-osm-geocode [type="text"] {
  font-size: 1.5em;
  font-weight: 300; }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(-30px); }
  50% {
    transform: translateY(0); }
  66% {
    transform: translateY(-15px); }
  82% {
    transform: translateY(0); }
  91% {
    transform: translateY(-7px); }
  100% {
    transform: translateY(0); } }

.osm-marker {
  border-radius: 50%;
  position: relative; }
  .osm-marker:before {
    content: '';
    border-style: solid;
    border-color: #0085ba transparent transparent transparent;
    border-width: 20px 12px 0 12px;
    position: absolute;
    left: -12px;
    top: -20px; }
  .osm-marker:after {
    content: '';
    clip: rect(0, 0, 100%, 100%);
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #fff;
    border: 8px solid #0085ba;
    box-sizing: border-box;
    position: absolute;
    bottom: 12px;
    left: -13px; }
  .osm-marker:not([title=""]):hover:after {
    content: attr(title);
    clip: rect(0, 0, 100%, 0);
    background-color: #0085ba;
    color: #fff;
    font-weight: bold;
    padding: 0.5em;
    position: absolute;
    bottom: 20px;
    width: 150px;
    height: auto;
    left: -75px; }
