/* Both Admin Menu and Post Formats */
/* Post Format Icons */
/* Welcome Screen Icons */
/* Image Editing Icons */
/* Both Image Editing and TinyMCE */
/* TinyMCE Icons */
/* Post Icons */
/* Sorting */
/* WPorg specific icons: Jobs, Profiles, WordCamps */
/* Internal/Products */
/* Taxonomies */
/* Widget icons */
/* Media icons */
/* Alerts/Notifications/Flags */
/* Social Icons */
/* Misc/CPT */
[data-type="open_street_map"][data-return-format="raw"] .acf-field-setting-allow_map_layers,
[data-type="open_street_map"][data-return-format="raw"] .acf-field-setting-default_leaflet_layers,
[data-type="open_street_map"][data-return-format="raw"] .acf-field-setting-default_osm_layer,
[data-type="open_street_map"][data-return-format="raw"] .acf-field-setting-height {
  display: none; }

[data-type="open_street_map"][data-return-format="leaflet"] .acf-field-setting-default_osm_layer {
  display: none; }

[data-type="open_street_map"][data-return-format="osm"] .acf-field-setting-zoom,
[data-type="open_street_map"][data-return-format="osm"] .acf-field-setting-default_leaflet_layers {
  display: none; }
