
@import 'variables/variables';

@import 'mixins/mixins';

[data-type="open_street_map"] {
	&[data-return-format="raw"] {
		.acf-field-setting-allow_map_layers,
		.acf-field-setting-default_leaflet_layers,
		.acf-field-setting-default_osm_layer,
		.acf-field-setting-height {
			display:none;
		}
	}
	&[data-return-format="leaflet"] {
		.acf-field-setting-default_osm_layer {
			display:none;
		}
	}
	&[data-return-format="osm"] {
		.acf-field-setting-zoom,
		.acf-field-setting-default_leaflet_layers {
			display:none;
		}

	}
}
[data-type="sorted_multiple_select"] {
	.cols {
		display:flex;
		flex-direction:row;
		& > * {
			flex:1;
		}
	}
}
