@use "sass:math";

@import 'variables/variables';

@import 'mixins/mixins';

.leaflet-bar-part {
	.dashicons {
		margin-top: 4px;
	}
}

.acf-osm-settings {
	display: flex;
	.acf-osm-layer-variants {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		.layer-variant {
			flex: 0 1 250px;
			padding: 0.5em 0.5em 0.5em 0;
			//display: flex;
		}
		.action-test {
			margin-left: auto;
			font-weight: normal;
		}
	}
	.acf-osm-tag {
		display: inline-block;
		padding: 0.25em 0.5em;
		font-size: 0.8em;
		color: #fff;
		border-radius: 1em;
		line-height: 1em;
		margin-left: 1em;
		font-weight: normal;
		white-space: nowrap;
		background-color: $wp-gray-darker;
		&.warn {
			background-color: $wp-red;
		}
	}
	.acf-osm-test-map-container {
		position: relative;
		margin-left:5px;
		background-color: #fff;
		max-width:300px;
		min-width:300px;
	}
	.acf-osm-test-map {
		background: $wp-blue;
		position: sticky;
		top: 32px;
	}
	.leaflet-container {
		min-height: 400px;
		height: calc( 100vh - 32px )
	}
}

.acf-osm-setting {
	transition: filter 0.3s;
	&.disabled {
		filter: grayscale(1) contrast(0.5) brightness(1.75);
		.disabled {
			filter: none;
		}
	}
}

.acf-osm-setting-provider {
	background: #fff;
	padding: 10px 20px;
	margin-bottom: 5px;
	h4 {
		margin-bottom: 0.33em;
	}
}
.acf-osm-setting-access-key {
	label {
		[data-action="change-token"] {
			margin-left: 0.5em;
		}
		&:has([data-action="cancel-token"]) {
			:first-child,
			[data-action="change-token"] {
				display: none;
			}
		}
	}
}
