
@import 'variables/variables';

@import 'mixins/mixins';

@import 'common/index';

@import 'leaflet-controls/index';

[data-map="leaflet"] {
	width:100%;
}

.leaflet-map {
	.block-editor__container & {
		width:100%;
		.leaflet-top,
		.leaflet-bottom {
			/* .editor-block-toolbar: 101 */
			z-index:80;
		}
	}
	&[data-can-add-marker="false"] ~ .markers-instruction {
		.can-add-marker {
			display:none;
		}
	}
	&[data-has-markers="false"] ~ .markers-instruction {
		.has-markers {
			display:none;
		}
	}
	~ .markers-instruction .add-marker-instructions {
		display:none;
	}
	&.add-marker-on-dblclick ~ .markers-instruction .marker-on-dblclick {
		display:inline;
	}
	&.add-marker-on-taphold ~ .markers-instruction .marker-on-taphold {
		display:inline;
	}
}
.acf-block-preview {
	iframe {
		pointer-events:none;
	}
}

.acf-field-open-street-map {
	.acf-osm-map {
		width:100%;
		height:400px;
	}
	input[type="search"][data-prop="address"] {
		font-size:20px;
		font-weight:300;
		letter-spacing:0.03em;
		color:$wp-gray-darker;
	}
}


.acf-osm-above {
	position:relative;
	z-index:2;
	& + .leaflet-map {
		z-index:1;
	}

}

$leaflet-panes: (
	// original
	leaflet-pane:400,
	leaflet-tile-pane: 200,
	leaflet-shadow-pane: 500,
	leaflet-overlay-pane: 400,
	leaflet-marker-pane: 600,
	leaflet-tooltip-pane: 650,
	leaflet-popup-pane: 700,
);

.wp-block {
	@each $pane,$zindex in $leaflet-panes {

		.#{$pane} {
			z-index: $zindex / 10;
		}
	}
}

// block editor fixes
.leaflet-pane {
	.postbox &,
	.wp-block & {
		z-index:30;
	}

}
.leaflet-control-container {
	a {
		-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Opera and Firefox */
	}
}
.leaflet-control-layers {
	.wp-block & {
		text-align:left;
	}
}

.leaflet-control-layers-scrollbar {
	overscroll-behavior: contain;
}


.leaflet-control {
	a {
		.dashicons {
			line-height:30px;
		}
	}
}
